.black-nav {
  display: flex;
  background-color: sandybrown;
  color: white;
  padding-left: 20px;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid goldenrod;
}